# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/
.ruff_cache/
*.db

# Node
node_modules/
dist/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
*.auto.tfvars
secrets.tfvars

# Misc
.env
.DS_Store
health-report.json
